<div class="card animate__animated animate__fadeIn animate__slow" *ngIf="servidores">
  <div class="col-12 mb-2 flex justify-content-between flex-wrap" style="display:flex; justify-content: space-between; align-items: center;">
    <div class="col-2 mb-2">
      <p-button icon="pi pi-plus" pTooltip="Agregar" tooltipPosition="top" styleClass="p-button-secondary" (click)="add()"></p-button>
    </div>
  </div>

  <p-table [value]="servidores">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" *ngFor="let col of cols">
          {{col.header}}
      </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-servidor>
      <tr>
        <td class="text-center" *ngFor="let col of cols">
          {{servidor[col.field]}}
          <span class="acciones" *ngIf="col.field == 'Acciones'">
            <i class="mdi mdi-eye icon-color" pTooltip="Ver" tooltipPosition="bottom" style="font-size: 1.2rem" (click)="ver(servidor)"></i>
            <i class="mdi mdi-download icon-color" pTooltip="Planilla" tooltipPosition="bottom" style="font-size: 1.2rem" (click)="generatePDF(servidor)"></i>
          <i class="mdi mdi-account-edit icon-color" pTooltip="Editar" tooltipPosition="bottom" style="font-size: 1.2rem" (click)="editar(servidor)"></i>
          <i class="mdi mdi-delete icon-color" pTooltip="Eliminar" tooltipPosition="bottom" style="font-size: 1.2rem" (click)="show(servidor)"></i>
        </span>
        </td>
    </tr>
    </ng-template>
  </p-table>
</div>

<div class="col-12 mb-2 flex justify-content-between flex-wrap animate__animated animate__fadeIn animate__slow" style="display:flex; justify-content: space-between; align-items: center;" *ngIf="servidores">
  <div class="col-2 mb-2">
      <p-button icon="pi pi-download" pTooltip="Listado" tooltipPosition="top" styleClass="p-button-secondary" (click)="Listado()"></p-button>
  </div>
</div>


<p-dialog header="Servidor" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw', heigth:'70%'}" [draggable]="false" [resizable]="false">

  <div class="container-text text-center">
    <h3>
      ¿Estás seguro de eliminar el servidor seleccionado?
    </h3>
  </div>

  <div class="container-buttons">
    <p-button icon="pi pi-times-circle" styleClass="p-button-secondary" (click)="visible = false" label="Cancelar"></p-button>
    <p-button icon="pi pi-trash" styleClass="p-button-secondary" label="Eliminar" (click)="eliminar()"></p-button>
  </div>

</p-dialog>


<p-dialog [(visible)]="displayModal"
          header="Servidor"
          [modal]="false"
          [style]="{'width': '500px'}"
          [draggable]="true"
          [closable]="true"
          [showHeader]="true"
          [styleClass]="'p-component'"
          >

         <ng-template pTemplate="content" styleClass="p-dialog-content">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                              <div>
                                <img [src]="servidorView['img']" width="250" height="250" class="img"/>
                              </div>
                                <div class="lg:m-4 m-1" *ngFor="let key of detailStruct">
                                    <div [ngStyle]="{'display': 'flex', 'overflow-wrap': 'break-word', 'border-bottom':'1px solid #fafafa'}">
                                        <div class="label-detail">
                                            <div>
                                                <ul class="m-0 pl-2">
                                                    <li>
                                                        <span class="label_title">
                                                            {{ key.label }} :
                                                        </span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div>
                                                <div  [ngStyle]="{'text-align':'center'}">
                                                    <span class="detail-description">
                                                        {{servidorView[key.field]}}
                                                    </span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </ng-template>

        <ng-template pTemplate="footer">
            <div class="mx-auto" style="width: 100%; display:flex; justify-content: center;">
              <div class="col-2 mb-2">
                <p-button tooltipPosition="right" styleClass="p-button-secondary" (click)="cerrar()" label="Cerrar"></p-button>
              </div>
            </div>
        </ng-template>
</p-dialog>
