  <div class="col-12">
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
           <div class="card-header">
               <h4 class="m-b-0 text-white">Retiros.</h4></div>
           <div class="card-body">
            <ng-container [ngSwitch]="userActive.role">
              <ng-container *ngSwitchCase="'EMAUS'">
                <h3 class="card-title">Lucas 24 13-35.</h3>
              </ng-container>

              <ng-container *ngSwitchCase="'SAMUEL'">
                <h3 class="card-title">Samuel 1-3, 1-10.</h3>
              </ng-container>

              <ng-container *ngSwitchCase="'SERAFIN'">
                <h3 class="card-title">Josué 24:15.</h3>
              </ng-container>


              <ng-container *ngSwitchCase="'SEMILLITA'">
                <h3 class="card-title">Mateo 18:3.</h3>
              </ng-container>

            </ng-container>
               <p class="card-text">Retiro espiritual cuyo objetivo es conocer el amor de Jesús.</p>
               <a  (click)="Router('R')"  style="color: black;" class="btn btn-primary">Ver retiros.</a>
           </div>
       </div>
     </div>

     <div class="col-12">
       <div class="card card-inverse" style="background-color: #333; border-color: #333;">
           <div class="card-header">
               <h4 class="m-b-0 text-white">Caminantes.</h4></div>
           <div class="card-body">
               <h3 class="card-title">Dispuesto a conocer el amor de Dios.</h3>
               <p class="card-text">Persona que esta dispuesta a vivir el retiro.</p>
               <a  (click)="Router('C')"  style="color: black;" class="btn btn-primary">Ver caminantes.</a>
           </div>
       </div>
     </div>

     <div class="col-12">
       <div class="card card-inverse" style="background-color: #333; border-color: #333;">
           <div class="card-header">
               <h4 class="m-b-0 text-white">Servidores.</h4></div>
           <div class="card-body">
               <h3 class="card-title">Al servicio del señor.</h3>
               <p class="card-text">Persona encargada a estar al servicio del caminante.</p>
               <a (click)="Router('S')"  style="color: black;" class="btn btn-primary">Ver servidores.</a>
           </div>
       </div>
     </div>


