span.label.label-rouded.label-themecolor.pull-right{
  background-color: white;
  color: #9ccdff;
}

a{
  color: black !important;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  color:white !important;
}
