<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">{{edit ? 'Editar servidor' : 'Agregar un nuevo servidor'}}</h4>
              <form class="form p-t-20" [formGroup]="formGroup">
                <div class="row">
                  <div class="form-group col-12 col-md-6">
                      <label >Nombre</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-user"></i></div>
                          <input type="text" class="form-control" formControlName="nombre">
                      </div>
                  </div>
                  <div class="form-group col-12 col-md-6">
                      <label >Cedula</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-agenda"></i></div>
                          <input type="text" class="form-control" formControlName="cedula">
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12 col-md-6">
                    <label>Fecha de nacimiento</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-calendar"></i></div>
                        <input type="date" class="form-control" formControlName="fecha_nac">
                    </div>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label >Estado civil</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-heart"></i></div>
                        <input type="text" class="form-control" formControlName="estado_civ">
                    </div>
                </div>
                </div>

                  <div class="row">
                    <div class="form-group col-12 col-md-6 ">
                      <label >Dirección</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-direction"></i></div>
                          <input type="text" class="form-control" formControlName="direccion">
                      </div>
                  </div>
                  <div class="form-group col-12 col-md-6">
                      <label >Telefono</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-tablet"></i></div>
                          <input type="text" class="form-control" formControlName="telefono">
                      </div>
                  </div>
                  </div>


                <div class="row">
                  <div class="form-group col-12 col-md-6">
                    <label>Estatura</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-ruler"></i></div>
                        <input type="text" class="form-control" formControlName="estatura">
                    </div>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label >Peso</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-calendar"></i></div>
                        <input type="text" class="form-control" formControlName="peso">
                    </div>
                </div>
                </div>


                <div class="row">
                  <div class="form-group col-12 col-md-6">
                    <label>Nombre de un familiar</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" class="form-control" formControlName="nombre_fam">
                    </div>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label >Telefono de un familiar</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-tablet"></i></div>
                        <input type="text" class="form-control" formControlName="telefono_fam">
                    </div>
                </div>
                </div>


              <div class="row">
                <div class="form-group col-12 col-md-6">
                  <label >Antecedentes medicos</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class=" ti-wheelchair"></i></div>
                      <input type="text" class="form-control" formControlName="antecedentes_med">
                  </div>
              </div>
              <div class="form-group col-12 col-md-6">
                  <label >Tratamiento</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class=" ti-heart-broken"></i></div>
                      <input type="text" class="form-control" formControlName="tratamiento">
                  </div>
              </div>
              </div>


              <div class="row">
                <div class="form-group col-12 col-md-6">
                  <label >Alergia</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-user"></i></div>
                      <input type="text" class="form-control" formControlName="alergia">
                  </div>
              </div>
              <div class="form-group col-12 col-md-6">
                  <label >Aporte económico</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-money"></i></div>
                      <input type="text" class="form-control" formControlName="aporte_eco">
                  </div>
              </div>

              </div>

              <div class="row">
                <div class="form-group col-12">
                  <label >Notas</label>
                  <div class="input-group">
                      <div class="input-group-addon"><i class="ti-book"></i></div>
                      <input type="text" class="form-control" formControlName="notas">
                  </div>
              </div>
              </div>

              <div class="row">
                <div class="form-group col-12">
                  <label>Imagen
                  </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-gallery"></i></div>
                        <input type="file" (change)="onFileChange($event)" class="form-control">
                    </div>
                </div>
              </div>

              <div *ngIf="this.formGroup.controls['img'].value?.length > 0" class="containerImg">
                <img [src]="this.formGroup.controls['img'].value" width="250" height="250" class="img" >
              </div>


                  <div class="d-flex justify-content-center" >
                    <button class="btn btn-success waves-effect waves-light submit  m-r-10" (click)="save()">Guardar</button>
                    <button  class="btn btn-inverse waves-effect waves-light" (click)="regresar()">Regresar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
