.submit {
  background-color:#9ccdff;
  border-color: #9ccdff;
}

.cancel{
  background-color:#64748B;
  border-color: #64748B;
}

.containerImg{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.img {
  border-radius: 50px;
}


@media (max-width: 1023px){
  .d-flex {
       display: flex !important;
  }
}


